@import "./Variables.scss";

.Calendar {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    .CalendarRows {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        .Row {
            flex-grow: 1;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            grid-auto-rows: max-content;
            .Column {
                .includesEnd {
                    margin-right: 0.25rem;
                }
                .dim {
                    opacity: 0.1;
                }
                
                .TimeLabel {
                    font-size: 1.2rem;
                }
                .Event {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding: 0.2rem;
                    text-shadow:
                    -0.5px -0.5px 0 #000,
                    0.5px -0.5px 0 #000,
                    -0.5px 0.5px 0 #000,
                    0.5px 0.5px 0 #000;
                }
                &.current {
                    background-color: $highlightColor;
                }
            }
        }
    }
}