.Calendar {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    .Row {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        .Column {
            flex-grow: 1;
            flex-basis: 0;
            justify-content: space-evenly;
            padding: 0.2rem;
            .TimeLabel {
                font-size: 1.2rem;
            }
            &.current {
                background-color: #ccc;
            }
        }
    }
}